<%# Port of EA pages/calendar.php. %>
<div class="container-fluid backend-page pt-0 pb-0" id="calendar-page">
    <div class="row mb-3 text-white py-3 bg-dark" id="calendar-toolbar">
        <div id="calendar-filter" class="col-lg-3">
            <div class="calendar-filter-items">
                <select id="select-filter-item"
                        class="form-select col mb-2 mb-lg-0"
                        data-tippy-content="<%= lang('select_filter_item_hint') %>"
                        aria-label="Filter">
                    <!-- JS -->
                </select>
            </div>
        </div>

        <div id="calendar-actions" class="col-lg-9 text-md-end">
            <% if vars(:calendar_view) == "default" %>
                <button
                    id="enable-sync"
                    class="btn btn-light"
                    data-tippy-content="<%= lang('enable_appointment_sync_hint') %>"
                    hidden>
                    <i class="fas fa-rotate me-2"></i>
                    <%= lang('enable_sync') %>
                </button>

                <div class="btn-group" id="sync-button-group" hidden>
                    <button type="button" class="btn btn-light" id="trigger-sync"
                            data-tippy-content="<%= lang('trigger_sync_hint') %>">
                        <i class="fas fa-rotate me-2"></i>
                        <%= lang('synchronize') %>
                    </button>
                    <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">
                            Toggle Dropdown
                        </span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="#" id="disable-sync">
                                <%= lang('disable_sync') %>
                            </a>
                        </li>
                    </ul>
                </div>
            <% end %>

            <% if can?(:add, :appointments) %>
                <div class="dropdown d-inline-block">
                    <button class="btn btn-light" type="button" data-bs-toggle="dropdown">
                        <i class="fas fa-plus-square"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#" id="insert-appointment">
                                <%= lang('appointment') %>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" id="insert-unavailability">
                                <%= lang('unavailability') %>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"
                               id="insert-working-plan-exception" <%= "hidden" if session[:role_slug] != Role::ADMIN %>>
                                <%= lang('working_plan_exception') %>
                            </a>
                        </li>
                    </ul>
                </div>
            <% end %>

            <button id="reload-appointments" class="btn btn-light"
                    data-tippy-content="<%= lang('reload_appointments_hint') %>">
                <i class="fas fa-sync-alt"></i>
            </button>

            <% if vars(:calendar_view) == "default" %>
                <a class="btn btn-light mb-0" href="/calendar?view=table"
                   data-tippy-content="<%= lang('table') %>">
                    <i class="fas fa-table"></i>
                </a>
            <% end %>

            <% if vars(:calendar_view) == "table" %>
                <a class="btn btn-light mb-0" href="/calendar?view=default"
                   data-tippy-content="<%= lang('default') %>">
                    <i class="fas fa-calendar-alt"></i>
                </a>
            <% end %>

        </div>
    </div>

    <div id="calendar">
        <!-- Dynamically Generated Content -->
    </div>
</div>

<!-- Page Components -->

<%= render "shared/appointments_modal",
           available_services: vars(:available_services),
           appointment_status_options: vars(:appointment_status_options),
           require_first_name: vars(:require_first_name),
           require_last_name: vars(:require_last_name),
           require_email: vars(:require_email),
           require_phone_number: vars(:require_phone_number),
           require_address: vars(:require_address),
           require_city: vars(:require_city),
           require_zip_code: vars(:require_zip_code),
           require_notes: vars(:require_notes) %>

<%= render "shared/unavailabilities_modal" %>

<%= render "shared/working_plan_exceptions_modal" %>

<% content_for :scripts do %>
    <%= javascript_include_tag "vendor/fullcalendar/index.global.min",
                               "vendor/fullcalendar-moment/index.global.min",
                               "vendor/jquery-jeditable/jquery.jeditable.min" %>
    <%= ea_js "utils/ui", "utils/calendar_default_view", "utils/calendar_table_view",
              "utils/calendar_event_popover", "http/calendar_http_client", "http/customers_http_client" %>
    <% if vars(:calendar_view) == "default" %>
        <%= ea_js "utils/calendar_sync", "http/google_http_client", "http/caldav_http_client" %>
    <% end %>
    <%= ea_js "pages/calendar" %>
<% end %>
