<%# Port of EA components/booking_footer.php. Locals: display_login_button, legal_notice_url, imprint_url. %>
<div id="frame-footer" class="p-3 text-center border-top">
    <small class="d-block d-md-flex">
        <span class="footer-powered-by small d-block w-100 w-md-50 text-center text-md-start p-1 pe-md-0">
            Powered By
            <a href="https://github.com/codev/OpenAppointments" target="_blank">OpenAppointments</a>

            <% if legal_notice_url.present? %>
                <span>|</span>
                <a href="<%= legal_notice_url %>" target="_blank"><%= lang('legal_notice') %></a>
            <% end %>

            <% if imprint_url.present? %>
                <span>|</span>
                <a href="<%= imprint_url %>" target="_blank"><%= lang('imprint') %></a>
            <% end %>
        </span>

        <span class="footer-options d-block w-100 w-md-50 text-center text-md-end">
            <span id="select-language" class="badge bg-secondary d-inline-block my-1 my-md-0 p-1" style="min-width: 100px;">
                <i class="fas fa-language me-2"></i>
                <%= script_vars[:language].to_s.upcase_first %>
            </span>

            <% if display_login_button.to_s == "1" %>
                <a class="backend-link badge bg-primary text-decoration-none px-2 d-inline-block my-1 my-md-0 p-1"
                   href="<%= session[:user_id] ? "/calendar" : "/login" %>"
                   style="min-width: 120px;">
                    <i class="fas fa-sign-in-alt me-2"></i>
                    <%= session[:user_id] ? lang('backend_section') : lang('login') %>
                </a>
            <% end %>
        </span>
    </small>
</div>
