<%# Port of EA components/booking_header.php. Locals: company_name, company_logo. %>
<header id="header" class="overflow-hidden p-3 p-md-4 d-flex flex-column flex-lg-row align-items-center bg-primary">
    <div id="company-name" class="d-block d-md-inline-block float-md-start text-center text-md-start text-white fs-4 fw-light my-3 my-md-0 mw-100 flex-grow-1">
        <img src="<%= company_logo.presence || image_path("logo.png") %>" alt="" id="company-logo"
             class="d-block d-md-inline-block mx-auto mx-md-0 float-md-start me-md-3 mb-3 mb-md-0">

        <span>
            <%= company_name %>
        </span>

        <div class="d-flex justify-content-center justify-content-md-start">
            <span class="display-booking-selection small fw-normal text-white-50">
                <%= lang('service') %> │ <%= lang('provider') %>
            </span>
        </div>
    </div>

    <%
      selection_titles = vars(:first_step) == "provider" ? %w[select_provider select_service] : %w[select_service select_provider]
      step_titles = selection_titles + %w[appointment_date_and_time customer_information appointment_confirmation]
    %>
    <ol id="steps" class="d-block d-md-inline-block float-md-end overflow-hidden mx-auto my-3 my-md-1">
        <% step_titles.each_with_index do |title, index| %>
            <li id="step-<%= index + 1 %>"
                class="book-step d-inline-block float-start rounded text-center <%= 'active-step' if index.zero? %>"
                data-tippy-content="<%= lang(title) %>" <%= 'aria-current="step"'.html_safe if index.zero? %>>
                <strong class="d-block text-center"><%= index + 1 %></strong>
            </li>
        <% end %>
    </ol>
</header>
