<%# Port of EA pages/customers.php. %>
<div class="container backend-page py-3" id="customers-page">
    <div class="row" id="customers">
        <div id="filter-customers" class="filter-records col col-12 mb-4">
            <% if can?(:add, :customers) && (setting('limit_customer_access') != "1" || session[:role_slug] == Role::ADMIN) %>
                <button id="add-customer" class="btn btn-primary add-record-btn mb-4">
                    <i class="fas fa-plus-square me-2"></i>
                    <%= lang('add') %>
                </button>
            <% end %>

            <form class="mb-4">
                <div class="input-group mb-3">
                    <input type="text" class="key form-control" aria-label="keyword">

                    <button class="filter btn btn-outline-secondary" type="submit"
                            data-tippy-content="<%= lang('filter') %>">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>

            <h4 class="mb-3 fw-light">
                <%= lang('customers') %>
            </h4>

            <div class="results overflow-auto" style="max-height: 650px;">
                <!-- JS -->
            </div>
        </div>

        <div class="record-details col-12 mb-4">
            <div class="btn-toolbar mb-4">
                <div id="add-edit-delete-group" class="btn-group">

                    <% if can?(:edit, :customers) %>
                        <button id="edit-customer" class="btn btn-outline-secondary" disabled="disabled">
                            <i class="fas fa-edit me-2"></i>
                            <%= lang('edit') %>
                        </button>
                    <% end %>
                </div>

                <div id="save-cancel-group" style="display:none;">
                    <button id="save-customer" class="btn btn-primary">
                        <i class="fas fa-check-square me-2"></i>
                        <%= lang('save') %>
                    </button>
                    <button id="cancel-customer" class="btn btn-outline-secondary">
                        <%= lang('cancel') %>
                    </button>
                    <% if can?(:delete, :customers) %>
                        <button id="delete-customer" class="btn btn-outline-danger ms-2">
                            <i class="fas fa-trash-alt me-2"></i>
                            <%= lang('delete') %>
                        </button>
                    <% end %>
                </div>

            </div>

            <input id="customer-id" type="hidden">

            <div class="row">
                <div class="col-12 col-lg-6" style="margin-left: 0;">
                    <h4 class="mb-3 fw-light">
                        <%= lang('details') %>
                    </h4>

                    <div id="form-message" class="alert" style="display:none;"></div>

                    <div class="mb-3">
                        <label for="first-name" class="form-label">
                            <%= lang('first_name') %>
                            <% if vars(:require_first_name) %>
                                <span class="text-danger" hidden>*</span>
                            <% end %>
                        </label>
                        <input type="text" id="first-name"
                               class="<%= vars(:require_first_name) ? 'required' : '' %> form-control" maxlength="100"
                               disabled/>
                    </div>

                    <div class="mb-3">
                        <label for="last-name" class="form-label">
                            <%= lang('last_name') %>
                            <% if vars(:require_last_name) %>
                                <span class="text-danger" hidden>*</span>
                            <% end %>
                        </label>
                        <input type="text" id="last-name"
                               class="<%= vars(:require_last_name) ? 'required' : '' %> form-control" maxlength="120"
                               disabled/>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">
                            <%= lang('email') %>
                            <% if vars(:require_email) %>
                                <span class="text-danger" hidden>*</span>
                            <% end %>
                        </label>
                        <input type="text" id="email"
                               class="<%= vars(:require_email) ? 'required' : '' %> form-control" maxlength="120"
                               disabled/>
                    </div>

                    <div class="mb-3">
                        <label for="phone-number" class="form-label">
                            <%= lang('phone_number') %>
                            <% if vars(:require_phone_number) %>
                                <span class="text-danger" hidden>*</span>
                            <% end %>
                        </label>
                        <input type="text" id="phone-number" maxlength="60"
                               class="<%= vars(:require_phone_number) ? 'required' : '' %> form-control" disabled/>
                    </div>

                    <div class="mb-3">
                        <label for="address" class="form-label">
                            <%= lang('address') %>
                            <% if vars(:require_address) %>
                                <span class="text-danger" hidden>*</span>
                            <% end %>
                        </label>
                        <input type="text" id="address"
                               class="<%= vars(:require_address) ? 'required' : '' %> form-control"
                               maxlength="120" disabled/>
                    </div>

                    <div class="mb-3">
                        <label for="city" class="form-label">
                            <%= lang('city') %>
                            <% if vars(:require_city) %>
                                <span class="text-danger" hidden>*</span>
                            <% end %>
                        </label>
                        <input type="text" id="city" class="<%= vars(:require_city) ? 'required' : '' %> form-control"
                               maxlength="120" disabled/>
                    </div>

                    <div class="mb-3">
                        <label for="zip-code" class="form-label">
                            <%= lang('zip_code') %>
                            <% if vars(:require_zip_code) %>
                                <span class="text-danger" hidden>*</span>
                            <% end %>
                        </label>
                        <input type="text" id="zip-code"
                               class="<%= vars(:require_zip_code) ? 'required' : '' %> form-control"
                               maxlength="120" disabled/>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="language">
                            <%= lang('language') %>
                            <span class="text-danger" hidden>*</span>
                        </label>
                        <select id="language" class="form-select required" disabled>
                            <% vars(:available_languages).each do |available_language| %>
                                <option value="<%= available_language %>">
                                    <%= available_language.capitalize %>
                                </option>
                            <% end %>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="timezone">
                            <%= lang('timezone') %>
                            <span class="text-danger" hidden>*</span>
                        </label>
                        <%= render "shared/timezone_dropdown",
                                   attributes: 'id="timezone" class="form-select required" disabled',
                                   grouped_timezones: vars(:grouped_timezones) %>
                    </div>

                    <% if setting('ldap_is_active').to_s == "1" %>
                        <div class="mb-3">
                            <label for="ldap-dn" class="form-label">
                                <%= lang('ldap_dn') %>
                            </label>
                            <input type="text" id="ldap-dn" class="form-control" maxlength="100" disabled/>
                        </div>
                    <% end %>

                    <%= render "shared/custom_fields", disabled: true %>

                    <div class="mb-3">
                        <label class="form-label" for="notes">
                            <%= lang('notes') %>
                        </label>
                        <textarea id="notes" rows="4" class="form-control" disabled></textarea>
                    </div>

                </div>

                <div class="col-12 col-lg-6">
                    <h4 class="mb-3 fw-light">
                        <%= lang('appointments') %>
                    </h4>

                    <div id="customer-appointments" class="card border p-3 overflow-auto mb-4" style="min-height: 400px; max-height: 800px; max-width: 330px; width: 100%;"></div>

                </div>
            </div>
        </div>
    </div>
</div>

<% content_for :scripts do %>
    <%= ea_js "http/customers_http_client", "pages/customers" %>
<% end %>
