<%# Port of EA pages/integrations.php. %>
<div id="integrations-page" class="container backend-page py-3">
    <div class="row">
        <div class="col-sm-3">
            <%= render "shared/settings_nav" %>
        </div>
        <div id="integrations" class="col-sm-9">
            <h4 class="border-bottom py-3 mb-3 fw-light">
                <%= lang('integrations') %>
            </h4>

            <p class="form-text text-muted mb-4">
                <%= lang('integrations_info') %>
            </p>

            <div class="row">
                <div class="col-sm-6 mb-4">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5 class="fw-light mb-0">
                                <%= lang('embedding') %>
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="mb-3 integration-info">
                                <small>
                                    <%= lang('embed_hint') %>
                                </small>
                            </div>
                        </div>
                        <div class="card-footer border-0">
                            <a href="/embed_settings" class="btn btn-outline-primary w-100">
                                <i class="fas fa-cogs me-2"></i>
                                <%= lang('configure') %>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 mb-4">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5 class="fw-light mb-0">
                                <%= lang('webhooks') %>
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="mb-3 integration-info">
                                <small>
                                    <%= lang('webhooks_info') %>
                                </small>
                            </div>
                        </div>
                        <div class="card-footer border-0">
                            <a href="/webhooks" class="btn btn-outline-primary w-100">
                                <i class="fas fa-cogs me-2"></i>
                                <%= lang('configure') %>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 mb-4">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5 class="fw-light mb-0">
                                <%= lang('google_analytics') %>
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="mb-3 integration-info">
                                <small>
                                    <%= lang('google_analytics_info') %>
                                </small>
                            </div>
                        </div>
                        <div class="card-footer border-0">
                            <a href="/google_analytics_settings"
                               class="btn btn-outline-primary w-100">
                                <i class="fas fa-cogs me-2"></i>
                                <%= lang('configure') %>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 mb-4">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5 class="fw-light mb-0">
                                <%= lang('matomo_analytics') %>
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="mb-3 integration-info">
                                <small>
                                    <%= lang('matomo_analytics_info') %>
                                </small>
                            </div>
                        </div>
                        <div class="card-footer border-0">
                            <a href="/matomo_analytics_settings"
                               class="btn btn-outline-primary w-100">
                                <i class="fas fa-cogs me-2"></i>
                                <%= lang('configure') %>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 mb-4">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5 class="fw-light mb-0">
                                <%= lang('api') %>
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="mb-3 integration-info">
                                <small>
                                    <%= lang('api_info') %>
                                </small>
                            </div>
                        </div>
                        <div class="card-footer border-0">
                            <a href="/api_settings" class="btn btn-outline-primary w-100">
                                <i class="fas fa-cogs me-2"></i>
                                <%= lang('configure') %>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 mb-4">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5 class="fw-light mb-0">
                                <%= lang('ldap') %>
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="mb-3 integration-info">
                                <small>
                                    <%= lang('ldap_info') %>
                                </small>
                            </div>
                        </div>
                        <div class="card-footer border-0">
                            <a href="/ldap_settings" class="btn btn-outline-primary w-100">
                                <i class="fas fa-cogs me-2"></i>
                                <%= lang('configure') %>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 mb-4">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5 class="fw-light mb-0">
                                <%= lang('google_calendar') %>
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="mb-3 integration-info">
                                <small>
                                    <%= lang('google_calendar_info') %>
                                </small>
                            </div>
                        </div>
                        <div class="card-footer border-0">
                            <a href="/google_calendar_settings" class="btn btn-outline-primary w-100">
                                <i class="fas fa-cogs me-2"></i>
                                <%= lang('configure') %>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 mb-4">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5 class="fw-light mb-0">
                                <%= lang('jitsi') %>
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="mb-3 integration-info">
                                <small>
                                    <%= lang('jitsi_info') %>
                                </small>
                            </div>
                        </div>
                        <div class="card-footer border-0">
                            <a href="/jitsi_settings" class="btn btn-outline-primary w-100">
                                <i class="fas fa-cogs me-2"></i>
                                <%= lang('configure') %>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 mb-4">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5 class="fw-light mb-0">
                                <%= lang('captcha') %>
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="mb-3 integration-info">
                                <small>
                                    <%= lang('captcha_info') %>
                                </small>
                            </div>
                        </div>
                        <div class="card-footer border-0">
                            <a href="/altcha_settings" class="btn btn-outline-primary w-100">
                                <i class="fas fa-cogs me-2"></i>
                                <%= lang('configure') %>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
