<%# Port of EA layouts/booking_layout.php. %>
<!doctype html>
<html lang="<%= script_vars[:language_code] %>">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="theme-color" content="#39824f">
    <meta name="google" content="notranslate">

    <meta property="og:title" content="<%= lang('page_title') %> <%= vars(:company_name) %> | OpenAppointments"/>
    <meta property="og:description" content="Book Your Appointment With A Few Clicks"/>
    <meta property="og:url" content="<%= root_url %>">
    <meta property="og:image" content="<%= image_url('social-card.png') %>"/>
    <meta property="og:type" content="website">

    <%= yield :meta %>

    <title><%= lang('page_title') %> <%= vars(:company_name) %> | OpenAppointments</title>

    <link rel="icon" type="image/svg+xml" href="<%= image_path("logo.svg") %>">
    <link rel="icon" type="image/x-icon" href="<%= image_path("favicon.ico") %>">
    <link rel="icon" sizes="192x192" href="<%= image_path('logo.png') %>">

    <%= stylesheet_link_tag "vendor/cookieconsent/cookieconsent.min", "vendor/flatpickr/flatpickr.min",
                            "vendor/flatpickr/material_green.min" %>
    <%= stylesheet_link_tag "themes/#{vars(:theme).presence || 'nice'}", "general", "frontend" %>

    <%= render "shared/brand_style" %>

    <%= yield :styles %>
</head>

<body>
<div id="main" class="container min-vh-100">
    <div class="row wrapper min-vh-100 justify-content-center align-items-center py-0 py-md-3">
        <div id="book-appointment-wizard" class="col-12 col-lg-10 col-xl-8 col-xxl-7 bg-body overflow-hidden p-0 my-auto">

            <%= render "shared/booking_header",
                       company_name: vars(:company_name), company_logo: vars(:company_logo) %>

            <%= yield %>

            <%= render "shared/booking_footer",
                       display_login_button: vars(:display_login_button),
                       legal_notice_url: vars(:legal_notice_url), imprint_url: vars(:imprint_url) %>

        </div>
    </div>
</div>

<% if vars(:display_cookie_notice) == "1" %>
    <%= render "shared/cookie_notice_modal", cookie_notice_content: vars(:cookie_notice_content) %>
<% end %>

<% if vars(:display_terms_and_conditions) == "1" %>
    <%= render "shared/terms_and_conditions_modal", terms_and_conditions_content: vars(:terms_and_conditions_content) %>
<% end %>

<% if vars(:display_privacy_policy) == "1" %>
    <%= render "shared/privacy_policy_modal", privacy_policy_content: vars(:privacy_policy_content) %>
<% end %>

<%= javascript_include_tag "vendor/jquery/jquery.min", "vendor/cookieconsent/cookieconsent.min",
                           "vendor/@popperjs-core/popper.min", "vendor/bootstrap/bootstrap.min",
                           "vendor/moment/moment.min", "vendor/moment-timezone/moment-timezone-with-data.min",
                           "vendor/@fortawesome-fontawesome-free/fontawesome.min",
                           "vendor/@fortawesome-fontawesome-free/solid.min",
                           "vendor/tippy.js/tippy-bundle.umd.min", "vendor/flatpickr/flatpickr.min" %>

<%= ea_js "app", "utils/date", "utils/file", "utils/http", "utils/lang", "utils/message",
          "utils/string", "utils/url", "utils/validation" %>
<% if setting("altcha_enabled") == "1" %>
    <%= ea_js "utils/altcha" %>
<% end %>
<% if TurnstileChallenge.enabled? %>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
<% end %>
<% if Embedding.enabled? %>
    <%# Embedded in an iframe: report the document height so the parent can resize it. %>
    <script>
        (function () {
            if (window.self === window.top) return;
            var target = <%= Embedding.origin.presence.to_json %> || '*';
            var post = function () {
                window.parent.postMessage(
                    {type: 'openappointments:height', height: document.documentElement.scrollHeight},
                    target,
                );
            };
            window.addEventListener('load', post);
            window.addEventListener('resize', post);
            new MutationObserver(post).observe(document.documentElement, {
                subtree: true,
                childList: true,
                attributes: true,
            });
        })();
    </script>
<% end %>
<%= ea_js "layouts/booking_layout", "http/localization_http_client" %>

<%= render "shared/js_vars_script" %>
<%= render "shared/js_lang_script" %>

<%= render "shared/google_analytics_script", google_analytics_code: vars(:google_analytics_code) %>
<%= render "shared/matomo_analytics_script",
           matomo_analytics_url: vars(:matomo_analytics_url),
           matomo_analytics_site_id: vars(:matomo_analytics_site_id) %>

<%= yield :scripts %>

</body>
</html>
